* {
    font-family: 'ABeeZee';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2{
    color: #810556;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8% 10%;
}

.header .logo img{
    height: 4rem;
    width: auto;
}

/*
header {
    display: flex;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
}

#buscador{
    margin-left: 3%;
    width: 32%;
}
#inicio{
    margin-left: 20%;
}

header img{
    width: 4%;
    height: 4%;
}
*/

.atajos ul {
    list-style-type: none;
    background-color: #D9D9D9;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
}

.atajos a {
    float: left;
    display: block;
    color: rgb(51, 49, 49);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.atajos a:hover{
    background-color: rgb(171, 142, 182);
}

.banner{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.3%;
    padding: 1%;
    background-color: #EAD3F5;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;
}

.banner .foto{
    padding: 0.3% 2% 0.3% 1%;
}

.banner .foto img{
    height: 10rem;
    width: auto;
    transition: all 1s;
    cursor: zoom-in;
}
.banner .foto img:hover{
    transform: scale(1.2);
}


#info{
    display: grid;
    row-gap: 1%;
}
#relevante{
    
}