.example-container {
  height: 100vh;
  }
  
  .example-sidenav{
    background-image: url("https://64.media.tumblr.com/f15fe9a7c1de26537b4b7cecaa9d1aaa/bc087f402c2b41c3-93/s1280x1920/4f62795328e65be504ea11721c06c0ef7dc6da3b.jpg");
    background-size: cover;
    background-position: center;
  }